### PyCitySchools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# Calculate the total number of schools
schools = school_data["school_name"].unique()
total_schools = len(schools)
total_schools

15

In [4]:
# Calculate the total number of students
total_students = student_data["Student ID"].count().astype(float)
total_students

39170.0

In [5]:
# Calculate the total budget
total_budget = round(school_data["budget"].sum().astype(float))
total_budget

24649428.0

In [6]:
# Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean().astype(float))
avg_math

79.0

In [7]:
# Calculate the average reading score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))
avg_reading

82.0

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
passing_math = pass_math["Student ID"].count().astype(float)
total_passing_math = np.round([(passing_math / total_students) * 100], 2)
total_passing_math

array([74.98])

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
passing_reading = pass_reading["Student ID"].count().astype(float)
total_passing_reading = np.round((passing_reading / total_students), 2) *100
total_passing_reading

86.0

In [10]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passed_reading_math = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
pass_both = passed_reading_math["Student ID"].count().astype(float)                               
total_passed = np.round((pass_both/total_students), 2) *100

total_passed

65.0

In [11]:
# Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": total_schools,
                            "Total Students": f"{total_students:,}", 
                            "Total Budget": f"${total_budget:,}",
                            "Average Math Score": f"{avg_math:,}",
                            "Average Reading Score": f"{avg_reading:,}",
                            "% Passing Math": f"{total_passing_math:}",
                            "% Passing Reading": f"{total_passing_reading:}",
                            "% Overall Passing": f"{total_passed:}"}, index = [0])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0","$24,649,428.0",79.0,82.0,[74.98],86.0,65.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [13]:
# School Name
school_names = school_data["school_name"]
school_names.head()

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
Name: school_name, dtype: object

In [14]:
# School Type
school_type = school_data_complete["type"]
school_type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [15]:
# Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [16]:
# Total School Budget
total_budget = school_data_complete["budget"].astype(float).sum()
# format: .astype(float).map("${:,.2f}".format)
total_budget

82932329558.0

In [17]:
# Per Student Budget 82932329558.0
per_student_budget = round((total_budget/39170), 2)
per_student_budget

2117240.99

In [18]:
# Average Math Score
avg_math = round(school_data_complete["math_score"].mean().astype(float))
avg_math

79.0

In [19]:
# Average Reading Score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))
avg_reading

82.0

In [20]:
# % Passing Math
# passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :].count().astype(float)
# total_passing_math = np.round((passing_math/total_students), 2) * 100
# total_passing_math["math_score"]
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
passing_math = pass_math["Student ID"].count().astype(float)
total_passing_math = np.round([(passing_math / total_students) * 100], 2)
total_passing_math

array([74.98])

In [21]:
# % Passing Reading
# passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :].count().astype(float)
# total_passing_reading = np.round((passing_reading/total_students), 2) * 100
# total_passing_reading["reading_score"]
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
passing_reading = pass_reading["Student ID"].count().astype(float)
total_passing_reading = np.round((passing_reading / total_students), 2) *100
total_passing_reading

86.0

In [22]:
# % Overall Passing (The percentage of students that passed math and reading.)
# passed_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)] 
# passed_reading_math
passed_reading_math = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
pass_both = passed_reading_math["Student ID"].count().astype(float)                               
total_passed = np.round((pass_both/total_students), 2) *100

total_passed

65.0

In [23]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Name": school_names,
                            "School Type": school_type,
                            "Total Students": f"{total_students:,}", 
                            "Total School Budget": f"${total_budget: .2f}",
                            "Per Student Budget": f"${per_student_budget: .2f}",
                            "Average Math Score": f"{avg_math: }",
                            "Average Reading Score": f"{avg_reading:,}",
                            "% Passing Math": f"{total_passing_math:}",
                            "% Passing Reading": f"{total_passing_reading:}",
                            "% Overall Passing": f"{total_passed: }"})
                                
# total_school_summary_df = school_summary_df [["School Name", 
#                                               "School Type", 
#                                               "Total Students", 
#                                               "Total School Budget",
#                                               "Per Student Budget",
#                                               "Average Math Score",
#                                               "Average Reading Score",
#                                               "% Passing Math",
#                                               "% Passing Reading",
#                                               "% Overall Passing"]]


#school_summary_groups_df = school_summary_df.groupby(["School Name", 
                                                           #"School Type", 
                                                          # "Total Students",])
                                                           #"Total School Budget",
                                                           #"Per Student Budget",
                                                           #"Average Math Score",
                                                          # "Average Reading Score",
                                                           #"% Passing Math",
                                                           #"% Passing Reading",
                                                           #"% Overall Passing"])
#school_summary_groups.describe()
#passing_school_summary_df = school_summary_df.set_index("passed_reading_math")
school_summary_df.head(10)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
1,Figueroa High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
2,Shelton High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
3,Hernandez High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
4,Griffin High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
5,Wilson High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
6,Cabrera High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
7,Bailey High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
8,Holden High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
9,Pena High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0

## Top Performing Schools (By % Overall Passing)

In [24]:
# Sort and display the top five performing schools by % overall passing.
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
overall_passing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26116,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26109,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26110,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26111,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [26]:
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
overall_passing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26109,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26110,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26111,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0
26112,NaN,District,"39,170",$ 82932329558.00,$ 2117240.99,79.0,82.0,[74.98],86.0,65.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:

#locate the group by school sore grade
math_ninth = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math_tenth = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math_eleventh = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math_twefth = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()
#Create df
math_scores = pd.DataFrame({
    "9th Grade": math_ninth,
    "10th Grade": math_tenth,
    "11th Grade": math_eleventh,
    "12th Grade": math_twefth})
math_scores

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type