### PyCitySchools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])

## District Summary

In [2]:
# Calculate the total number of schools
schools = school_data["school_name"].unique()
total_schools = len(schools)

In [3]:
# Calculate the total number of students
total_students = student_data["Student ID"].count().astype(float)

In [4]:
# Calculate the total budget
total_budget = round(school_data["budget"].sum().astype(float))

In [5]:
# Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean().astype(float))

In [6]:
# Calculate the average reading score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
passing_math = pass_math["Student ID"].count().astype(float)
total_passing_math = np.round((passing_math / total_students) * 100, 2)

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
passing_reading = pass_reading["Student ID"].count().astype(float)
total_passing_reading = np.round((passing_reading / total_students), 2) *100

In [9]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passed_reading_math = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
pass_both = passed_reading_math["Student ID"].count().astype(float)                               
total_passed = np.round((pass_both/total_students), 2) *100

In [10]:
# Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": total_schools,
                            "Total Students": f"{total_students:,}", 
                            "Total Budget": f"${total_budget:,}",
                            "Average Math Score": f"{avg_math:,}",
                            "Average Reading Score": f"{avg_reading:,}",
                            "% Passing Math": f"{total_passing_math:}",
                            "% Passing Reading": f"{total_passing_reading:}",
                            "% Overall Passing": f"{total_passed:}"}, index = [0])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0","$24,649,428.0",79.0,82.0,74.98,86.0,65.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
# School Name
#school_names = school_data["school_name"]
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])

In [12]:
# School Type
#school_type = school_data_complete["type"]
school_type = school_data.set_index("school_name")["type"]

In [13]:
# Total Students
total_students = (school_names["Student ID"].count()).astype(float)

In [14]:
# Total School Budget
total_school_budget = np.round((school_data.set_index("school_name")["budget"]), 2).astype(float)

In [15]:
per_student_budget = np.round((school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]), 2).astype(float)

In [16]:
# Average Math Score
avg_math = round(school_names["math_score"].mean().astype(float))

In [17]:
# Average Reading Score
avg_reading = round(school_names["reading_score"].mean().astype(float))

In [18]:
# % Passing Math
total_passing_math = round(school_data_complete.loc[school_data_complete["math_score"] >= 70, :].groupby("school_name")["Student ID"].count()/total_students * 100)

In [19]:
# % Passing Reading
total_passing_reading = round(school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
    .groupby("school_name")["Student ID"].count()/total_students * 100)

In [20]:
# % Overall Passing (The percentage of students that passed math and reading.)
total_passed = round(school_data_complete[(school_data_complete["reading_score"] >= 70) 
    & (school_data_complete["math_score"] >= 70)]
    .groupby("school_name")["Student ID"].count()/total_students * 100)

In [21]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({
    #"School Name": school_names,
                            "School Type": school_type,
                            "Total Students": total_students, 
                            "Total School Budget": total_school_budget,
                            "Per Student Budget": per_student_budget,
                            "Average Math Score": avg_math,
                            "Average Reading Score": avg_reading,
                            "% Passing Math": total_passing_math,
                            "% Passing Reading": total_passing_reading,
                            "% Overall Passing": total_passed})
                                
school_summary_df = school_summary_df[[
                            "School Type",
                            "Total Students", 
                            "Total School Budget",
                            "Per Student Budget",
                            "Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing"]]

school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].astype(float).map(
    "${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].astype(float).map(
    "${:,.2f}".format)
                                
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976.0,"$3,124,928.00",$628.00,77.0,81.0,67.0,82.0,55.0
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.0,84.0,94.0,97.0,91.0
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,77.0,81.0,66.0,81.0,53.0
Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.0,81.0,68.0,79.0,54.0
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.0,84.0,93.0,97.0,91.0

## Top Performing Schools (By % Overall Passing)

In [22]:
# Sort and display the top five performing schools by % overall passing.
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
overall_passing_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.0,84.0,94.0,97.0,91.0
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.0,84.0,93.0,97.0,91.0
Pena High School,Charter,962.0,"$585,858.00",$609.00,84.0,84.0,95.0,96.0,91.0
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.0,84.0,93.0,97.0,91.0
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.0,84.0,94.0,97.0,91.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [23]:
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
overall_passing_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,77.0,81.0,66.0,81.0,53.0
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,77.0,81.0,66.0,80.0,53.0
Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.0,81.0,68.0,79.0,54.0
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.0,81.0,67.0,81.0,54.0
Huang High School,District,2917.0,"$1,910,635.00",$655.00,77.0,81.0,66.0,81.0,54.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
#locate the group by school sore grade
math_ninth = np.round(student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean())
math_tenth = np.round(student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean())
math_eleventh = np.round(student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean())
math_twefth = np.round(student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean())
#Create df
math_scores = pd.DataFrame({
    "9th Grade": math_ninth,
    "10th Grade": math_tenth,
    "11th Grade": math_eleventh,
    "12th Grade": math_twefth})
math_scores

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School          77.0        77.0        78.0        76.0
Cabrera High School         83.0        83.0        83.0        83.0
Figueroa High School        76.0        77.0        77.0        77.0
Ford High School            77.0        78.0        77.0        76.0
Griffin High School         82.0        84.0        84.0        83.0
Hernandez High School       77.0        77.0        77.0        77.0
Holden High School          84.0        83.0        85.0        83.0
Huang High School           77.0        76.0        76.0        77.0
Johnson High School         77.0        77.0        77.0        77.0
Pena High School            84.0        83.0        84.0        84.0
Rodriguez High School       77.0        77.0        76.0        78.0
Shelton High School         83.0        83.0        83.0        84.0
Thomas High School          84.0        83.0        83.0        83.0
Wilson High School          83.0        84.0        83.0        83.0
Wright High School          83.0        84.0        84.0        84.0

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [25]:
#locate the group by school sore grade
reading_ninth = np.round(student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean())
reading_tenth = np.round(student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean())
reading_eleventh = np.round(student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean())
reading_twelfth = np.round(student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean())
#Create df
reading_scores = pd.DataFrame({
    "9th Grade": reading_ninth,
    "10th Grade": reading_tenth,
    "11th Grade": reading_eleventh,
    "12th Grade": reading_twelfth})
reading_scores

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School          81.0        81.0        81.0        81.0
Cabrera High School         84.0        84.0        84.0        84.0
Figueroa High School        81.0        81.0        81.0        81.0
Ford High School            81.0        81.0        80.0        81.0
Griffin High School         83.0        84.0        84.0        84.0
Hernandez High School       81.0        81.0        81.0        81.0
Holden High School          84.0        83.0        84.0        85.0
Huang High School           81.0        82.0        81.0        80.0
Johnson High School         81.0        81.0        81.0        81.0
Pena High School            84.0        84.0        84.0        85.0
Rodriguez High School       81.0        81.0        81.0        80.0
Shelton High School         84.0        83.0        84.0        83.0
Thomas High School          84.0        84.0        84.0        84.0
Wilson High School          84.0        84.0        84.0        84.0
Wright High School          84.0        84.0        84.0        84.0

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [26]:
# divide budget to find reasonable bins = 0-15, 16-30, 31-45, 46-80
bins = [0, 16, 31, 46, 80]
group_names = ["0-15", "16-30", "31-45", "46-80"]
spending_df = pd.cut(school_data_complete["budget"], bins, labels=group_names, include_lowest=True)
spending_df

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: budget, Length: 39170, dtype: category
Categories (4, object): [0-15 < 16-30 < 31-45 < 46-80]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [27]:
bins = [0, 250, 500, 750, 1000]
group_names = ["0-250", "251-500", "501-750", "751-1000"]
size_df = pd.cut(school_data_complete["size"], bins, labels=group_names, include_lowest=True)
size_df

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: size, Length: 39170, dtype: category
Categories (4, object): [0-250 < 251-500 < 501-750 < 751-1000]

## Scores by School Type

* Perform the same operations as above, based on school type

In [28]:
#school_type_df = school_data_complete.groupby("type")
#school_type = school_data_complete("type")
type_math = (school_data_complete["math_score"].mean()).astype(float)
type_reading = (school_data_complete["reading_score"].mean()).astype(float)
type_pass_math = (school_data_complete["math_score"] >= 70).astype(float)
type_pass_reading = (school_data_complete["reading_score"] >=70).astype(float)
#type_pass_both = (type_pass_math/type_pass_reading).astype(float)

school_score_df = pd.DataFrame({
                            "School Type": school_type,
                            "Avg Math Score": f"{type_math:,}", 
                            "Average Reading Score": f"{type_reading:,}",
                            "% Passing Math": f"{type_pass_math:}",
                            "% Passing Reading": f"{type_pass_reading:}",
                            #"% Overall Passing": f"{type_pass_both: }"
})
                                
school_score_df

,School Type,Avg Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,
Huang High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Figueroa High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Shelton High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Hernandez High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Griffin High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Wilson High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Cabrera High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Bailey High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Holden High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Pena High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Wright High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Rodriguez High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Johnson High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Ford High School,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
Thomas High School,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...