### PyCitySchools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# Calculate the total number of schools
schools = school_data["school_name"].unique()
total_schools = len(schools)
total_schools

15

In [4]:
# Calculate the total number of students
total_students = student_data["Student ID"].count().astype(float)
total_students

39170.0

In [5]:
# Calculate the total budget
total_budget = round(school_data["budget"].sum().astype(float))
total_budget

24649428.0

In [6]:
# Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean().astype(float))
avg_math

79.0

In [7]:
# Calculate the average reading score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))
avg_reading

82.0

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
passing_math = pass_math["Student ID"].count().astype(float)
total_passing_math = np.round([(passing_math / total_students) * 100], 2)
total_passing_math

array([74.98])

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
passing_reading = pass_reading["Student ID"].count().astype(float)
total_passing_reading = np.round((passing_reading / total_students), 2) *100
total_passing_reading

86.0

In [10]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passed_reading_math = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
pass_both = passed_reading_math["Student ID"].count().astype(float)                               
total_passed = np.round((pass_both/total_students), 2) *100

total_passed

65.0

In [11]:
# Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": total_schools,
                            "Total Students": f"{total_students:,}", 
                            "Total Budget": f"${total_budget:,}",
                            "Average Math Score": f"{avg_math:,}",
                            "Average Reading Score": f"{avg_reading:,}",
                            "% Passing Math": f"{total_passing_math:}",
                            "% Passing Reading": f"{total_passing_reading:}",
                            "% Overall Passing": f"{total_passed:}"}, index = [0])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0","$24,649,428.0",79.0,82.0,[74.98],86.0,65.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [13]:
# School Name
school_names = school_data["school_name"]
school_names.head()

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
4      Griffin High School
Name: school_name, dtype: object

In [44]:
# School Type
school_type = school_data_complete["type"]
school_type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [15]:
# Total Students
total_students = student_data["Student ID"].count()
total_students

39170

In [16]:
# Total School Budget
total_school_budget = np.round((school_data["budget"]), 2).astype(float)
#.map("${:,.2f}".format)
total_school_budget

0     1910635.0
1     1884411.0
2     1056600.0
3     3022020.0
4      917500.0
5     1319574.0
6     1081356.0
7     3124928.0
8      248087.0
9      585858.0
10    1049400.0
11    2547363.0
12    3094650.0
13    1763916.0
14    1043130.0
Name: budget, dtype: float64

In [17]:
per_student_budget = np.round((total_school_budget/total_students), 2).astype(float)
per_student_budget

0     48.78
1     48.11
2     26.97
3     77.15
4     23.42
5     33.69
6     27.61
7     79.78
8      6.33
9     14.96
10    26.79
11    65.03
12    79.01
13    45.03
14    26.63
Name: budget, dtype: float64

In [18]:
# Average Math Score
avg_math = round(student_data["math_score"].mean().astype(float))
avg_math

79.0

In [19]:
# Average Reading Score
avg_reading = round(student_data["reading_score"].mean().astype(float))
avg_reading

82.0

In [20]:
# % Passing Math
# passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :].count().astype(float)
# total_passing_math = np.round((passing_math/total_students), 2) * 100
# total_passing_math["math_score"]
pass_math = student_data.loc[student_data["math_score"] >= 70, :]
passing_math = pass_math["Student ID"].count().astype(float)
total_passing_math = np.round([(passing_math / total_students) * 100], 2)
total_passing_math

array([74.98])

In [21]:
# % Passing Reading
# passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :].count().astype(float)
# total_passing_reading = np.round((passing_reading/total_students), 2) * 100
# total_passing_reading["reading_score"]
pass_reading = student_data.loc[student_data["reading_score"] >= 70, :]
passing_reading = pass_reading["Student ID"].count().astype(float)
total_passing_reading = np.round((passing_reading / total_students), 2) *100
total_passing_reading

86.0

In [22]:
# % Overall Passing (The percentage of students that passed math and reading.)
# passed_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)] 
# passed_reading_math
passed_reading_math = student_data[(student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)]
pass_both = passed_reading_math["Student ID"].count().astype(float)                               
total_passed = np.round((pass_both/total_students), 2) *100

total_passed

65.0

In [23]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Name": school_names,
                            "School Type": school_type,
                            "Total Students": f"{total_students:,}", 
                            "Total School Budget": f"${total_school_budget:}",
                            "Per Student Budget": f"${per_student_budget:}",
                            "Average Math Score": f"{avg_math: }",
                            "Average Reading Score": f"{avg_reading:,}",
                            "% Passing Math": f"{total_passing_math:}",
                            "% Passing Reading": f"{total_passing_reading:}",
                            "% Overall Passing": f"{total_passed: }"})
                                
# total_school_summary_df = school_summary_df [["School Name", 
#                                               "School Type", 
#                                               "Total Students", 
#                                               "Total School Budget",
#                                               "Per Student Budget",
#                                               "Average Math Score",
#                                               "Average Reading Score",
#                                               "% Passing Math",
#                                               "% Passing Reading",
#                                               "% Overall Passing"]]


#school_summary_groups_df = school_summary_df.groupby(["School Name", 
                                                           #"School Type", 
                                                          # "Total Students",])
                                                           #"Total School Budget",
                                                           #"Per Student Budget",
                                                           #"Average Math Score",
                                                          # "Average Reading Score",
                                                           #"% Passing Math",
                                                           #"% Passing Reading",
                                                           #"% Overall Passing"])
#school_summary_groups.describe()
#passing_school_summary_df = school_summary_df.set_index("passed_reading_math")
school_summary_df.head(10)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
1,Figueroa High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
2,Shelton High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
3,Hernandez High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
4,Griffin High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
5,Wilson High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
6,Cabrera High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
7,Bailey High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
8,Holden High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
9,Pena High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0

## Top Performing Schools (By % Overall Passing)

In [24]:
# Sort and display the top five performing schools by % overall passing.
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
overall_passing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26116,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26109,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26110,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26111,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
overall_passing_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
overall_passing_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26109,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26110,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26111,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0
26112,NaN,District,"39,170",$0 1910635.0\n1 1884411.0\n2 10566...,$0 48.78\n1 48.11\n2 26.97\n3 ...,79.0,82.0,[74.98],86.0,65.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [26]:
#locate the group by school sore grade
math_ninth = np.round(student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean())
math_tenth = np.round(student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean())
math_eleventh = np.round(student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean())
math_twefth = np.round(student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean())
#Create df
math_scores = pd.DataFrame({
    "9th Grade": math_ninth,
    "10th Grade": math_tenth,
    "11th Grade": math_eleventh,
    "12th Grade": math_twefth})
math_scores

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School          77.0        77.0        78.0        76.0
Cabrera High School         83.0        83.0        83.0        83.0
Figueroa High School        76.0        77.0        77.0        77.0
Ford High School            77.0        78.0        77.0        76.0
Griffin High School         82.0        84.0        84.0        83.0
Hernandez High School       77.0        77.0        77.0        77.0
Holden High School          84.0        83.0        85.0        83.0
Huang High School           77.0        76.0        76.0        77.0
Johnson High School         77.0        77.0        77.0        77.0
Pena High School            84.0        83.0        84.0        84.0
Rodriguez High School       77.0        77.0        76.0        78.0
Shelton High School         83.0        83.0        83.0        84.0
Thomas High School          84.0        83.0        83.0        83.0
Wilson High School          83.0        84.0        83.0        83.0
Wright High School          83.0        84.0        84.0        84.0

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [27]:
#locate the group by school sore grade
reading_ninth = np.round(student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean())
reading_tenth = np.round(student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean())
reading_eleventh = np.round(student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean())
reading_twelfth = np.round(student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean())
#Create df
reading_scores = pd.DataFrame({
    "9th Grade": reading_ninth,
    "10th Grade": reading_tenth,
    "11th Grade": reading_eleventh,
    "12th Grade": reading_twelfth})
reading_scores

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School          81.0        81.0        81.0        81.0
Cabrera High School         84.0        84.0        84.0        84.0
Figueroa High School        81.0        81.0        81.0        81.0
Ford High School            81.0        81.0        80.0        81.0
Griffin High School         83.0        84.0        84.0        84.0
Hernandez High School       81.0        81.0        81.0        81.0
Holden High School          84.0        83.0        84.0        85.0
Huang High School           81.0        82.0        81.0        80.0
Johnson High School         81.0        81.0        81.0        81.0
Pena High School            84.0        84.0        84.0        85.0
Rodriguez High School       81.0        81.0        81.0        80.0
Shelton High School         84.0        83.0        84.0        83.0
Thomas High School          84.0        84.0        84.0        84.0
Wilson High School          84.0        84.0        84.0        84.0
Wright High School          84.0        84.0        84.0        84.0

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
# divide budget to find reasonable bins = 0-15, 16-30, 31-45, 46-80
bins = [0, 16, 31, 46, 80]
group_names = ["0-15", "16-30", "31-45", "46-80"]
spending_df = pd.cut(school_data_complete["budget"], bins, labels=group_names, include_lowest=True)
spending_df

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: budget, Length: 39170, dtype: category
Categories (4, object): [0-15 < 16-30 < 31-45 < 46-80]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [38]:
bins = [0, 250, 500, 750, 1000]
group_names = ["0-250", "251-500", "501-750", "751-1000"]
size_df = pd.cut(school_data_complete["size"], bins, labels=group_names, include_lowest=True)
size_df

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: size, Length: 39170, dtype: category
Categories (4, object): [0-250 < 251-500 < 501-750 < 751-1000]

## Scores by School Type

* Perform the same operations as above, based on school type

In [72]:
#school_type_df = school_data_complete.groupby("type")
#school_type = school_data_complete("type")
type_math = (school_data_complete["math_score"].mean()).astype(float)
type_reading = (school_data_complete["reading_score"].mean()).astype(float)
type_pass_math = (school_data_complete["math_score"] >= 70).astype(float)
type_pass_reading = (school_data_complete["reading_score"] >=70).astype(float)
#type_pass_both = (type_pass_math/type_pass_reading).astype(float)

school_score_df = pd.DataFrame({
                            "School Type": school_type,
                            "Avg Math Score": f"{type_math:,}", 
                            "Average Reading Score": f"{type_reading:,}",
                            "% Passing Math": f"{type_pass_math:}",
                            "% Passing Reading": f"{type_pass_reading:}",
                            #"% Overall Passing": f"{type_pass_both: }"
})
                                
school_score_df

,School Type,Avg Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
1,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
2,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
3,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
4,District,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
...,...,...,...,...,...
39165,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
39166,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
39167,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
39168,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...
39169,Charter,78.98537145774827,81.87784018381414,0 1.0\n1 0.0\n2 0.0\n3 ...,0 0.0\n1 1.0\n2 1.0\n3 ...