### PyCitySchools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", 
                                on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary
* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# Calculate the total number of schools
total_schools = school_data["school_name"].count()
total_schools

15

In [4]:
# Calculate the total number of students
total_students = student_data["student_name"].count()
total_students

39170

In [5]:
# Calculate the total budget
total_budget = round(school_data_complete["budget"].sum().astype(float))
total_budget

82932329558.0

In [6]:
# Calculate the average math score
avg_math = round(school_data_complete["math_score"].mean().astype(float))
avg_math

79.0

In [7]:
# Calculate the average reading score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))
avg_reading

82.0

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :].count().astype(float)
total_passing_math = np.round((passing_math/39170), 2)
total_passing_math["math_score"]

0.75

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :].count().astype(float)
total_passing_reading = np.round((passing_reading/39170), 2)
total_passing_reading["reading_score"]

0.86

In [10]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passed_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)] 
passed_reading_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [11]:
# Create a dataframe to hold the above results
district_df = pd.DataFrame({"Total Schools": [total_schools],
                            "Total Students": [total_students], 
                            "Total Budget": [total_budget],
                            "Average Math Score": [avg_math],
                            "Average Reading Score": [avg_reading],
                            "% Passing Math": [total_passing_math],
                            "% Passing Reading": [total_passing_reading],
                            "% Overall Passing": [passed_reading_math]})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,8.293233e+10,79.0,82.0,Student ID 0.75 student_name 0.75 ge...,Student ID 0.86 student_name 0.86 ge...,Student ID student_name gender grad...

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [13]:
# school_summary = school_data_complete
# school_summary.head(10)

In [14]:
# School Name
#school_summary_df = school_data_complete.groupby(["school_name"])
#school_summary_df.head()
school_name = school_data_complete["school_name"]
school_name

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
                ...
39165    Thomas High School
39166    Thomas High School
39167    Thomas High School
39168    Thomas High School
39169    Thomas High School
Name: school_name, Length: 39170, dtype: object

In [15]:
# School Type
school_type = school_data_complete["type"].astype(str)
school_type

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [16]:
# Total Students
total_students = student_data["student_name"].count()
total_students

39170

In [17]:
# Total School Budget
total_budget = school_data_complete["budget"].astype(float).sum()
# format: .astype(float).map("${:,.2f}".format)
total_budget

82932329558.0

In [18]:
# Per Student Budget 82932329558.0
per_student_budget = round((total_budget/39170), 2)
per_student_budget

2117240.99

In [19]:
# Average Math Score
avg_math = round(school_data_complete["math_score"].mean().astype(float))
avg_math

79.0

In [20]:
# Average Reading Score
avg_reading = round(school_data_complete["reading_score"].mean().astype(float))
avg_reading

82.0

In [21]:
# % Passing Math
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70, :].count().astype(float)
total_passing_math = np.round((passing_math/39170), 2)
total_passing_math["math_score"]

0.75

In [22]:
# % Passing Reading
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :].count().astype(float)
total_passing_reading = np.round((passing_reading/39170), 2)
total_passing_reading["reading_score"]

0.86

In [23]:
# % Overall Passing (The percentage of students that passed math and reading.)
passed_reading_math = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)] 
passed_reading_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [24]:
# Create a dataframe to hold the above results
#school_summary

school_summary_df = pd.DataFrame({"School Name": [school_name],
                            "School Type": [school_type],
                            "Total Students": [total_students], 
                            "Total School Budget": [total_budget],
                            "Per Student Budget": [per_student_budget],
                            "Average Math Score": [avg_math],
                            "Average Reading Score": [avg_reading],
                            "% Passing Math": [total_passing_math],
                            "% Passing Reading": [total_passing_reading],
                            "% Overall Passing": [passed_reading_math]})
                                
# total_school_summary_df = school_summary_df [["School Name", 
#                                               "School Type", 
#                                               "Total Students", 
#                                               "Total School Budget",
#                                               "Per Student Budget",
#                                               "Average Math Score",
#                                               "Average Reading Score",
#                                               "% Passing Math",
#                                               "% Passing Reading",
#                                               "% Overall Passing"]]


#school_summary_groups_df = school_summary_df.groupby(["School Name", 
                                                           #"School Type", 
                                                          # "Total Students",])
                                                           #"Total School Budget",
                                                           #"Per Student Budget",
                                                           #"Average Math Score",
                                                          # "Average Reading Score",
                                                           #"% Passing Math",
                                                           #"% Passing Reading",
                                                           #"% Overall Passing"])
#school_summary_groups.describe()
#passing_school_summary_df = school_summary_df.set_index("passed_reading_math")
school_summary_df.head(10)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,0 Huang High School 1 Huang Hi...,0 District 1 District 2 D...,39170,8.293233e+10,2117240.99,79.0,82.0,Student ID 0.75 student_name 0.75 ge...,Student ID 0.86 student_name 0.86 ge...,Student ID student_name gender grad...

## Top Performing Schools (By % Overall Passing)

In [25]:
# Sort and display the top five performing schools by % overall passing.
overall_passing_df = district_df.sort_values("% Overall Passing", ascending=False)
overall_passing_df.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,8.293233e+10,79.0,82.0,Student ID 0.75 student_name 0.75 ge...,Student ID 0.86 student_name 0.86 ge...,Student ID student_name gender grad...

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [26]:
overall_passing_df = district_df.sort_values("% Overall Passing", ascending=False)
overall_passing_df.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,8.293233e+10,79.0,82.0,Student ID 0.75 student_name 0.75 ge...,Student ID 0.86 student_name 0.86 ge...,Student ID student_name gender grad...

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type